<launch>
    <node pkg="roboteq_driver" type="driver_node" name="roboteq_driver" output="screen">
        <rosparam>
            port: /dev/ttyUSB0
            baud: 115200
            channels: ["roboteq_left", "roboteq_right"]
        </rosparam>
    </node>
    <node pkg="dfcompass_driver" type="driver_node" name="dfcompass_driver" output="screen">
        <rosparam>
            port: /dev/ttyACM0
            baud: 115200
        </rosparam>
    </node>
    <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gps_driver" output="screen">
        <rosparam>
            port: /dev/ttyUSB1
            baud: 115200
        </rosparam>
    </node>
    <node pkg="webui" type="webui" name="webui_node" output="screen" respawn="true"/>
    <node pkg="chauffeur" type="chauffeur" name="chauffeur_node" output="screen" respawn="true"/>
</launch>
